includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9
    ignoreErrors:
        - "#Method [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type with generic class#"
        - "#Class [a-zA-Z0-9\\_\\\\:\\(\\)]+ uses generic trait [a-zA-Z0-9\\_\\\\:\\(\\)]+ but does not specify its types:#"
